
*{
    margin: 0;
    padding: 0;
}

/* Nav styles */

header{
    background-image: url(../Assets/Hero-bg.png);
    max-width: 1440%;
    height: 698%;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    height: 151px;
    padding: 50px 150px;
     
}
nav h1{
    color: #4E47FF;
    font-size: 34px;
    line-height: 150%;
    font-weight: black;
    width: 99px;
    height: 51px;
    
}
nav button{
    color: white;
    font-size: 16;
    font-weight: bold;
    line-height: 150%;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    background-color: #4E47FF;
    border: 1px solid #4E47FF;
}

/* Banner styles */

.banner{
    text-align: center;
    width: 905px;
    height: 237px;
    padding: 158px 267px 152px;
    margin: 0 auto;
}
.banner h1{
    font-size: 65px;
    font-weight: bold;
    line-height: auto;
}
.banner button{
    color: white;
    margin-top: 37px;
    margin-bottom: 152px;
    background-color: #4E47FF;
    width: 174px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #4E47FF;
}
/* Action section styles */
.action{
    display: flex;
    gap: 220px;
    justify-content: center;
    padding: 107px 150px 116px 141px;
    margin: 0 auto;
    max-width: 1140px;
    height: 328px;
    align-items: center;
}
.leftside{
    width: 517px;
    height: 203px;
}
.leftside h4{
    font-size: 42px;
    font-weight: bold;
    line-height: auto;
}
.leftside p{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    line-height: 30px;
    padding-top: 23px;
}
.leftside button{
    color: white;
    margin-top: 23px;
    background-color: #4E47FF;
    width: 229px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #4E47FF;
}
.rightside img{
    border-radius: 48px;
}



